.page-not-found {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-not-found div {
    text-align: center;
    margin: 24px auto;
}
