.plans {
    min-height: 100vh;
    background-color: rgba(72, 72, 72, 0.05);
    position: relative;
    z-index: 1;
}

.plans .skewed-background {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.plans .container {
    padding: 40px;
    text-align: center;
    margin: auto;
    width: 768px;
    position: relative;
    z-index: 3;
}

.plans .container > h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
    color: white;
}

.plans .switch {
    height: 30px;
    margin: 40px 0;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.plans .payment-frequency h3 {
    top: 8px;
    width: 120px;
}

.plans .col {
    margin: 10px;
}

.plans .aqua {
    background-color: #31cfda;
}

.plans .white {
    background-color: white;
}

.plans .link-container {
    margin: 30px auto 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #31cfda;
}
